option_settings:
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static
  aws:elasticbeanstalk:container:tomcat:jvmoptions:
    Xms: 256m
    Xmx: 512m
  aws:elasticbeanstalk:application:environment:
    SERVER_PORT: 8080
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: nginx
